<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.up.platform.mapper.DBTableMapper">
  <resultMap id="BaseResultMap" type="com.up.platform.entity.DBTable">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="db_id" jdbcType="INTEGER" property="dbId" />
    <result column="table_zh_name" jdbcType="VARCHAR" property="tableZhName" />
    <result column="table_eng_name" jdbcType="VARCHAR" property="tableEngName" />
    <result column="table_remark" jdbcType="VARCHAR" property="tableRemark" />
    <result column="table_discarded" jdbcType="INTEGER" property="tableDiscarded" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, db_id, table_zh_name, table_eng_name, table_remark, table_discarded, user_id, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.up.platform.entity.DBTable" useGeneratedKeys="true">
    insert into db_table (db_id, table_zh_name, table_eng_name, 
      table_remark, table_discarded, user_id, 
      create_time, update_time)
    values (#{dbId,jdbcType=INTEGER}, #{tableZhName,jdbcType=VARCHAR}, #{tableEngName,jdbcType=VARCHAR}, 
      #{tableRemark,jdbcType=VARCHAR}, #{tableDiscarded,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.up.platform.entity.DBTable" useGeneratedKeys="true">
    insert into db_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbId != null">
        db_id,
      </if>
      <if test="tableZhName != null">
        table_zh_name,
      </if>
      <if test="tableEngName != null">
        table_eng_name,
      </if>
      <if test="tableRemark != null">
        table_remark,
      </if>
      <if test="tableDiscarded != null">
        table_discarded,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbId != null">
        #{dbId,jdbcType=INTEGER},
      </if>
      <if test="tableZhName != null">
        #{tableZhName,jdbcType=VARCHAR},
      </if>
      <if test="tableEngName != null">
        #{tableEngName,jdbcType=VARCHAR},
      </if>
      <if test="tableRemark != null">
        #{tableRemark,jdbcType=VARCHAR},
      </if>
      <if test="tableDiscarded != null">
        #{tableDiscarded,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" keyColumn="id" keyProperty="id" parameterType="com.up.platform.entity.DBTable" useGeneratedKeys="true">
    insert into db_table (db_id, table_zh_name, table_eng_name,
      table_remark, table_discarded, user_id,
      create_time, update_time)
    values
    <foreach collection="list" item="table" separator=",">
      (#{table.dbId}, #{table.tableZhName}, #{table.tableEngName},
      #{table.tableRemark}, #{table.tableDiscarded}, #{table.userId},
      #{table.createTime}, #{table.updateTime})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.up.platform.entity.DBTable">
    update db_table
    <set>
      <if test="dbId != null">
        db_id = #{dbId,jdbcType=INTEGER},
      </if>
      <if test="tableZhName != null">
        table_zh_name = #{tableZhName,jdbcType=VARCHAR},
      </if>
      <if test="tableEngName != null">
        table_eng_name = #{tableEngName,jdbcType=VARCHAR},
      </if>
      <if test="tableRemark != null">
        table_remark = #{tableRemark,jdbcType=VARCHAR},
      </if>
      <if test="tableDiscarded != null">
        table_discarded = #{tableDiscarded,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.up.platform.entity.DBTable">
    update db_table
    set db_id = #{dbId,jdbcType=INTEGER},
      table_zh_name = #{tableZhName,jdbcType=VARCHAR},
      table_eng_name = #{tableEngName,jdbcType=VARCHAR},
      table_remark = #{tableRemark,jdbcType=VARCHAR},
      table_discarded = #{tableDiscarded,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>